<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <% if(isAuthenticated) { %>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/user/cart-items">Cart</a></li>                <li class="main-header__item"><a href="/">Cart</a></li>
                <% } %>
                <li class="main-header__item"><a href="/user/add-user">Add User</a></li>
            </ul>
            <ul class="main-header__item-list">
                <% if(!isAuthenticated) { %>
                    <li class="main-header__item"><a href="/login">Login</a></li>
                    <li class="main-header__item"><a href="/signup">Signup</a></li>
                    <li class="main-header__item"><a href="/admin/products">admin/products</a></li>
                <% }else{ %>
                    <li class="main-header__item"><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
   
    <main>
            <div class="grid">
                <main>
                    <form class="product-form" action="/admin/update-product/<%= product._id %>" method="POST" enctype="multipart/form-data">
                        <div class="form-control">
                            <label for="title">Title</label>
                            <input id="title" type="text" name="title" value="<%= product.title %>" />
                        </div>
                        <div class="form-control">
                            <label for="image">Image</label>
                            <input id="image" type="file" name="image" />
                        </div>
                        <div class="form-control">
                            <label for="price">Price</label>
                            <input id="price" type="text" name="price" value="<%= product.price %>" />
                        </div>
                        <button type="submit">Update</button>
                    </form>
                </main>
            </div>
    </main>
</body>
</html>